
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<ul>
    <li>
        @TempData["Name"]
    </li>
    <li>
        @TempData["Surname"]
    </li>
    <li>
        @TempData["Age"]
    </li>
</ul>

